.goalsContainer {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0%;
    position: relative;
    right: -9vw;

}

.threeGoals {
    font-size: var(--font-medium);
    font-weight: 100;
    padding-bottom: 0%;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    position: relative;
    margin-right: 4vw;
}

.goals {
    font-size: var(--font-medium);
    font-weight: 100;
    color: var(--light-gray);
    margin-right: 2vw;
}

.design {
    color: var(--black);
    margin-left: 1vw;
}

/*tablet*/

@media (min-width: 701px) and (max-width: 1120px) {
    .goalsContainer {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 165vw;
        margin-bottom: 0%;
        position: relative;
        right: 0vw;
    }
    .goalsContainer img {
        width: 25%;
        height: fit-content;
    }
    .threeGoals, .goals, .design {
        font-size: 2rem;
    }
}